POSTGRES_DB=controlplus
POSTGRES_USER=controlplus_app
POSTGRES_PASSWORD=replace_with_a_local_password
JWT_ISSUER=controlplus-api
JWT_AUDIENCE=controlplus-client
JWT_SIGNING_KEY=replace_with_a_local_secret_of_at_least_64_bytes
JWT_ACCESS_TOKEN_MINUTES=30
JWT_CLOCK_SKEW_SECONDS=30
CONTROLPLUS_MASTER_KEY=replace_with_a_random_local_secret_of_at_least_32_bytes
